@import 'sass/base/reset';
@import 'sass/utils/variables';

body {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  font-family: 'DM sans';
  font-weight: 500;
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
.mainRedirection {
  position: fixed;
  font-size: 18px;
  top: 3px;
  left: 50%;
  background-color: $color-mainRedirecttion;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  width: 182px;
  height: 30px;
  transform: translate(-50%);
  cursor: pointer;
  opacity: 0;
  transition: 0.3s linear;
}
.mainRedirectionVisible {
  opacity: 1;
}
header {
  display: flex;
  width: 70%;
  justify-content: space-between;
  @media (max-width: 1200px) {
    display: block;
    width: 100%;
  }
  .logo {
    display: flex;
    margin-left: 100px;
    margin-top: 35px;
    @media (max-width: 1200px) {
      margin-left: 20px;
    }
    p {
      color: $color-primary;
      font-size: 45px;
      @media (max-width: 1200px) {
        font-size: 30px;
      }
    }
    img {
      margin-top: 8px;
      width: 40px;
      height: 35px;
      @media (max-width: 1200px) {
        height: 23px;
        width: 28px;
        margin-top: 4px;
      }
    }
  }
  nav {
    margin-top: 50px;
    align-items: center;
    margin-right: 80px;
    @media (max-width: 1200px) {
      width: 100%;
      margin: auto;
      margin-top: 34.5px;
    }
    ul {
      display: flex;
      @media (max-width: 1200px) {
        margin: auto;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
      }
      li {
        font-size: 12px;
        list-style-type: none;
        color: $color-primary;
        border: 1px solid $color-border;
        border-radius: 20px;
        padding: 2px 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        cursor: pointer;
        transition: transform 0.1s linear;
      }
      .active {
        background-color: $color-primary-light;
        color: white;
        box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 3px);
        transition: transform 0.1s linear;
      }
      .desactive {
        font-size: 12px;
        list-style-type: none;
        color: $color-primary;
        border: 1px solid $color-border;
        border-radius: 20px;
        padding: 2px 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        cursor: pointer;
        transition: transform 0.1s linear;
      }
    }
  }
}

// partie section

main {
  width: auto;
  h1 {
    position: absolute;
    right: 117px;
    top: 35px;
    color: $color-primary;
    font-size: 36px;
    font-weight: 400;
  
    @media (max-width: 1200px) {
      top: 15px;
      right: 22px;
      font-size: 25px;

    }
    @media(max-width : 600px){
      font-size: 14px;

    }
  }
  section {
    width: auto;
    margin: auto;
    margin-top: 60px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
    .photographers__thumbnail {
      width: 26%;
      height: auto;
      margin-bottom: 40px;
      @media (max-width: 1200px) {
        width: 100%;
      }
      a {
        display: block;
        width: max-content;
        margin: auto;
        text-align: center;
        h2 {
          font-size: 36px;
          color: $color-primary-light;
          margin-top: 20px;
          font-family: 'DM sans';
          font-weight: 400;
        }
        div {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          margin: auto;
          text-align: center;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          img {
            width: 100%;
            height: 105%;
          }
        }
      }
    }
    .displayNone {
      display: none;
    }
    .photographers__description {
      width: 100%;
      text-align: center;
      h3 {
        font-size: 13px;
        color: $color-primary;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      h4 {
        font-size: 10px;
      }
      p {
        color: $color-price;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: center;
      li {
        display: inline-block;
        border: 0.5px solid $color-border;
        border-radius: 12px;
        color: $color-primary;
        margin-right: 4px;
        padding: 1px 6px;
        font-size: 12px;
      }
      .active {
        background-color: $color-primary-light;
        color: white;
        box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 3px);
        transition: transform 0.1s linear;
      }
    }
  }
}
