@import url(./sass/base/_reset.scss); //reset scss
@font-face {
  font-family: "dm_sans";
  src: url(/font/DM_Sans/DMSans-Medium.ttf);
}
@font-face {
  font-family: "dm_sans_italic";
  src: url(./font/DM_Sans/DMSans-Italic.ttf);
}


body {
  width: 1440px;
  height: 1024px;
  margin: auto;
  border: 1px solid red;
  font-family: dm_sans;
}
.mainRedirection {
  position: fixed;
  font-size: 18px;
  top: 3px;
  left: 50%;
  background-color: #db8876;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  width: 182px;
  height: 30px;
  transform: translate(-50%);
  cursor: pointer;
  // visibility: hidden;
}
header {
  display: flex;
  width: 70%;
  justify-content: space-between;
  .logo {
    display: flex;
    margin-left: 100px;
    font-weight: bold;
    width: auto;
    height: max-content;
    p {
      color: #901c1c;
      font-size: 40px;
    }
    svg{
      padding-top: 10px;
      font-weight: bold;
      margin-top: 40px;
    }
  }
  nav {
    margin-top: 50px;
    align-items: center;
    margin-right: 80px;
    ul {
      display: flex;
      li {
        font-size: 12px;
        list-style-type: none;
        color: #901c1c;
        border: 1px solid #c4c4c4;
        border-radius: 20px;
        padding: 2px 4px;
        margin-right: 4px;
        cursor: pointer;
      }
    }
  }
}
