@import "sass/base/reset";
@import "sass/utils/variables";
@font-face {
  font-family: "dm_sans";
  src: url(/font/DM_Sans/DMSans-Medium.ttf);
}
@font-face {
  font-family: "dm_sans_regular";
  src: url(./font/DM_Sans/DMSans-Regular.ttf);
}

body {
  max-width: 1440px;
  height: 1024px;
  margin: auto;
  font-family: dm_sans;
}
a {
  text-decoration: none;
  color: black;
}
.mainRedirection {
  position: fixed;
  font-size: 18px;
  top: 3px;
  left: 50%;
  background-color: $color-mainRedirecttion;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  width: 182px;
  height: 30px;
  transform: translate(-50%);
  cursor: pointer;
  visibility: hidden;
}
header {
  display: flex;
  width: 70%;
  justify-content: space-between;
  @media (max-width: 1200px) {
    display: block;
    width: 100%;
  }
  .logo {
    display: flex;
    margin-left: 100px;
    margin-top: 35px;
    font-weight: bold;
    width: auto;
    height: max-content;
    @media (max-width: 1200px) {
      margin-left: 20px;
    }
    p {
      color: $color-primary;
      font-size: 40px;
    }
    svg {
      font-weight: bold;
    }
  }
  nav {
    margin-top: 50px;
    align-items: center;
    margin-right: 80px;
    @media (max-width: 1200px) {
      width: 100%;
      margin: auto;
      margin-top: 34.5px;
    }
    ul {
      display: flex;
      @media (max-width: 1200px) {
        margin: auto;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
      }
      li {
        font-size: 12px;
        list-style-type: none;
        color: $color-primary;
        border: 1px solid $color-border;
        border-radius: 20px;
        padding: 2px 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        cursor: pointer;
      }
    }
  }
}

// partie section

main {
  width: auto;
  h1 {
    position: absolute;
    right: 117px;
    top: 35px;
    color: $color-primary;
    font-size: 36px;
    font-weight: 100;
    @media (max-width: 1200px) {
      font-size: 14px;
      top: 50px;
      right: 22px;
    }
  }
  section {
    width: auto;
    margin: auto;
    margin-top: 60px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
    .photographers__thumbnail {
      width: 26%;
      height: auto;
      margin-bottom: 40px;
      @media (max-width: 1200px) {
        width: 100%;
      }
      a {
        display: block;
        width: max-content;
        margin: auto;
        text-align: center;
        h2 {
          font-size: 36px;
          color: $color-primary-light;
          margin-top: 20px;
          font-family: dm_sans_regular;
        }
        div {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
          margin: auto;
          text-align: center;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          img {
            width: 110%;
            height: 100%;
          }
        }
      }
    }
    .photographers__description {
      width: 100%;
      text-align: center;
      h3 {
        font-size: 13px;
        color: $color-primary;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      h4 {
        font-size: 10px;
      }
      p {
        color: $color-price;
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    ul {
      display: flex;
      width: 100%;
      justify-content: center;
      li {
        display: inline-block;
        border: 0.5px solid $color-border;
        border-radius: 12px;
        color: $color-primary;
        margin-right: 4px;
        padding: 1px 6px;
        font-size: 12px;
      }
    }
  }
}
