@import "../sass/base/reset";
@import "../sass/utils/variables";
@font-face {
  font-family: "dm_sans";
  src: url(../font/DM_Sans/DMSans-Medium.ttf);
}
@font-face {
  font-family: "dm_sans_regular";
  src: url(../font/DM_Sans/DMSans-Regular.ttf);
}
body {
  font-family: dm_sans;
  width: 100%;
  max-width: 1440px;
  border: 1px solid green;
  margin: auto;
}
a {
  text-decoration: none;
  color: black;
}
header {
  a {
    display: flex;
    padding-left: 100px;
    padding-top: 43.91px;
    p {
      color: $color-primary;
      font-size: 40px;
    }
    svg {
      font-weight: bold;
      @media (max-width: 1200px) {
        height: 28px;
        padding-top: 2px;
      }
    }
  }
}
.photographer__description {
  border: 1px solid blue;
  margin: 79px 100px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  .infoAndButton {
    display: flex;
    box-sizing: border-box;
    justify-content: start;
    border: 1px solid red;
  }
  .photographer__informations {
    margin-left: 50px;
    h1 {
      font-size: 64px;
      color: $color-primary-light;
      font-weight: 400;
    }
    h2 {
      font-size: 24px;
      color: $color-primary;
      margin-bottom: 19px;
    }
    h3 {
      font-size: 18px;
      color: $color-secondary;
      margin-bottom: 15px;
    }
    ul {
      display: flex;

      li {
        font-size: 18px;
        list-style-type: none;
        color: $color-primary;
        border: 1px solid $color-border;
        border-radius: 20px;
        padding: 2px 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        cursor: pointer;
      }
    }
  }
  button {
    height: 69px;
    width: 170px;
    border-radius: 5px;
    background: #901c1c;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
  }
  .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
