@import '../sass/base/reset';
@import '../sass/utils/variables';
@import '../sass/utils/keyframes';
@font-face {
  font-family: 'dm_sans';
  src: url(../font/DM_Sans/DMSans-Medium.ttf);
}
@font-face {
  font-family: 'dm_sans_regular';
  src: url(../font/DM_Sans/DMSans-Regular.ttf);
}

body {
  font-family: dm_sans;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
header {
  a {
    display: flex;
    padding-left: 100px;
    padding-top: 43.91px;
    @media (max-width: 960px) {
      padding-left: 20px;
    }

    p {
      color: $color-primary;
      font-size: 40px;
    }
    img {
      height: 28px;
      margin-top: 8px;
    }
  }
}

.photographer__description {
  background-color: $color-secondary-light;
  margin: 79px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  height: 313px;
  width: 100%;
  @media (max-width: 960px) {
    margin: 0;
    background-color: white;
    align-items: flex-start;
    height: auto;
  }
  .infoAndButton {
    display: flex;
    position: relative;
    width: auto;
  }
  .photographer__informations {
    margin-left: 50px;
    @media (max-width: 960px) {
      margin-left: 20px;
      margin-top: 29.5px;
    }
    h1,
    h2,
    h3 {
      font-family: dm_sans_regular;
    }
    h1 {
      font-size: 64px;
      color: $color-primary-light;
      font-weight: 400;
      @media (max-width: 960px) {
        font-size: 36px;
        font-weight: 400;
        width: 100%;
      }
    }
    h2 {
      font-size: 24px;
      color: $color-primary;
      margin-bottom: 19px;
      @media (max-width: 960px) {
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
    h3 {
      font-size: 18px;
      color: $color-secondary;
      margin-bottom: 15px;
      @media (max-width: 960px) {
        font-size: 13px;
        margin-bottom: 7px;
      }
    }

    ul {
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      @media (max-width: 960px) {
      }

      li {
        font-size: 18px;
        list-style-type: none;
        color: $color-primary;
        border: 1px solid $color-border;
        border-radius: 20px;
        padding: 2px 4px;
        margin-right: 4px;
        margin-bottom: 4px;
        cursor: pointer;
        @media (max-width: 960px) {
          font-size: 13px;
        }
      }
    }
  }
  button {
    height: 69px;
    min-width: 170px;
    margin-left: 30px;
    border-radius: 5px;
    background: #901c1c;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    cursor: pointer;
    @media (max-width: 1038px) {
      margin-left: 0;
      width: 170px;
      height: 35px;
      font-size: 18px;
      font-weight: 500;
      position: fixed;
      top: 91%;
      left: 50%;
      transform: translate(-50%);
    }
    .rotate {
      transform: rotate(180deg);
      transition: transform 0.2s linear;
    }
  }
  .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
    @media (max-width: 960px) {
      width: 100px;
      height: 100px;
      margin-top: 10px;
    }
    @media (max-width: 440px) {
      min-width: 100px;
      height: 100px;
      margin-top: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// **********partie tri
.tri {
  display: flex;
  // align-items: center;
  margin-top: 9px;
  margin-left: 97px;
  @media (max-width: 960px) {
    display: none;
  }
  p {
    font-size: 18px;
    margin-right: 25px;
    margin-top: 25px;
  }
  .dropDown {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 170px;
    height: auto;
    border-radius: 5px;
  }
  .bloc {
    &__top {
      z-index: 10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-primary;
      width: 170px;
      height: 69px;
      border: none;
      font-size: 18px;
      color: white;
      padding-left: 20px;
      cursor: pointer;
      img {
        width: 16px;
        margin-right: 18px;
        transform: rotate(0deg);
        transition: transform 0.1s linear;
      }
      .rotate {
        //animation de la flèche au click
        transform: rotate(180deg);
        transition: transform 0.1s linear;
      }
    }
    &__down {
      display: none;
      span {
        width: 150px;
        height: 64px;
        line-height: 64px;
        color: white;
        font-size: 16px;
        padding-left: 20px;
        background-color: $color-primary;
        border-top: 1px solid white;
        cursor: pointer;
      }
    }
  }
  .active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 68px;
    border-top: 1px solid rgb(255, 255, 255);
  }
}

// ****************************gallerie
.container__thumbnail {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 58px;
  padding-left: 100px;
  padding-right: 100px;
  // display: none;
  @media (max-width: 920px) {
    padding: 0;
    margin-top: 52px;
  }

  .thumbnail {
    width: 350px;
    height: 351px;
    @media (max-width: 920px) {
      width: 90%;
      height: auto;
      margin: 0px auto 10px;
    }
    .img__thumbnail {
      width: 350px;
      height: 300px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      @media (max-width: 920px) {
        width: 100%;
        height: 190px;
      }
      img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
        @media (max-width: 920px) {
          object-fit: cover;
          object-position: center;
        }
      }
      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .thumbnail__description {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 10px;
    color: $color-primary;
    font-size: 18px;
    font-weight: 400;
    .like__count {
      display: flex;
      box-sizing: border-box;
      img {
        width: 17.5px;
        margin-left: 7px;
        cursor: pointer;
      }
    }
  }
}
.likeCountResume {
  width: 376px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  bottom: 0;
  right: 2.5%;
  background-color: $color-primary-light;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
  @media (max-width: 1040px) {
    display: none;
  }
  & > p {
    margin-right: 34px;
  }
  .total__likes {
    display: flex;
    margin-left: 31px;
    margin-right: 0;
    img {
      width: 18px;
      height: 18px;
      margin-left: 7px;
    }
  }
}

/************************************************ lightbox ***********************************/
.lightbox {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #fff, $alpha: 1);
  z-index: 10;
  overflow: hidden;
}
.lightbox__next,
.lightbox__prev {
  border-top: 5px solid $color-primary;
  border-right: 5px solid $color-primary;
  border-bottom: transparent;
  border-left: transparent;
  transform: rotate(45deg) translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  top: 50%;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
  @media (max-width: 500px) {
    width: 14px;
    height: 14px;
  }
}

.lightbox__prev {
  transform: rotate(-135deg);
  top: 50%;
  left: 394px;
  @media (max-width: 500px) {
    left: 24px;
    top: 48%;
  }
}
.lightbox__next {
  right: 400px;
  top: 48%;
  @media (max-width: 500px) {
    right: 30px;
    top: 48%;
  }
}

.lightbox__close {
  position: absolute;
  right: 380px;
  top: 120px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  background: transparent;
  border: transparent;
  opacity: 0.5;
  transition: 0.3s;
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }
  @media (max-width: 500px) {
    top: 290px;
    right: 5px;
  }
}
.lightbox__close:before,
.lightbox__close:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 40px;
  width: 3px;
  background-color: $color-primary;
  @media (max-width: 500px) {
    height: 24px;
  }
}
.lightbox__close:before {
  transform: rotate(45deg);
}
.lightbox__close:after {
  transform: rotate(-45deg);
}
.lightbox__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 1050px;
  height: 900px;
  overflow: hidden;
  img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
  }
  video {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  p {
    color: $color-primary;
    font-size: 26px;
    margin-top: 5px;
    @media (max-width: 500px) {
      font-size: 18px;
    }
  }
  @media (max-width: 500px) {
    max-width: 290px;
    height: auto;
    max-height: 248px;
  }
}

//*******************modale******************

.formulaire {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: auto;
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100%;
  max-width: 669px;
  height: 100vh;
  max-height: 900px;
  background-color: $color-mainRedirecttion;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  z-index: 2;

  h1 {
    font-size: 64px;
    font-family: dm_sans_regular;
    margin-top: 4%;
    margin-left: 5.5%;
    margin-bottom: 19px;
    @media (max-width: 500px) {
      font-size: 36px;
      margin-bottom: 26px;
      margin-top: 20px;
      margin-left: 17px;
      line-height: 46px;
    }
  }
  img {
    position: absolute;
    width: 42px;
    right: 6%;
    top: 4%;
    cursor: pointer;
    @media (max-width: 500px) {
      width: 18px;
      top: 3%;
    }
  }
  label {
    font-size: 36px;
    font-family: dm_sans_regular;
    margin-left: 35px;
    margin-bottom: 5px;
    @media (max-width: 500px) {
      font-size: 24px;
      margin-left: 17px;
    }
  }
  input {
    width: 88%;
    height: 7%;
    margin: 0 auto;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
    @media (max-width: 500px) {
      width: 338px;
      height: 52px;
      margin-bottom: 14px;
      font-size: 18px;
    }
  }
  textarea {
    width: 88%;
    height: 170px;
    margin: 0 auto;
    font-size: 26px;
  }
  #submit,
  #close__msg {
    color: white;
    background-color: $color-primary;
    width: 170px;
    height: 69px;
    position: absolute;
    bottom: 5.5%;
    left: 35px;
    @media (max-width: 500px) {
      height: 35px;
      left: 50%;
      transform: translate(-50%);
      bottom: 75px;
    }
  }
  p {
    color: white;
    font-size: 34px;
    margin: auto;
    text-align: center;
    line-height: 104px;
  }
  #close__msg {
    left: 50%;
    transform: translate(-50%);
  }
}
