html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'DM sans';
  font-weight: 500;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  padding-top: 43.91px;
}

@media (max-width: 960px) {
  header a {
    padding-left: 20px;
  }
}

header a p {
  color: #901c1c;
  font-size: 40px;
}

header a img {
  height: 28px;
  width: 30px;
  margin-top: 8px;
}

header #acceuil {
  display: none;
}

.photographer__description {
  background-color: #fafafa;
  margin: 79px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  height: 313px;
  width: 100%;
}

@media (max-width: 960px) {
  .photographer__description {
    margin: 0;
    background-color: white;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
  }
}

.photographer__description .infoAndButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: auto;
}

.photographer__description .photographer__informations {
  margin-left: 50px;
}

@media (max-width: 960px) {
  .photographer__description .photographer__informations {
    margin-left: 20px;
    margin-top: 29.5px;
  }
}

.photographer__description .photographer__informations h1,
.photographer__description .photographer__informations h2,
.photographer__description .photographer__informations h3 {
  font-family: 'DM sans';
  font-weight: 400;
}

.photographer__description .photographer__informations h1 {
  font-size: 64px;
  color: #d3573c;
  font-weight: 400;
}

@media (max-width: 960px) {
  .photographer__description .photographer__informations h1 {
    font-size: 36px;
    font-weight: 400;
    width: 100%;
  }
}

.photographer__description .photographer__informations h2 {
  font-size: 24px;
  color: #901c1c;
  margin-bottom: 19px;
}

@media (max-width: 960px) {
  .photographer__description .photographer__informations h2 {
    font-size: 13px;
    margin-bottom: 4px;
  }
}

.photographer__description .photographer__informations h3 {
  font-size: 18px;
  color: #525252;
  margin-bottom: 15px;
}

@media (max-width: 960px) {
  .photographer__description .photographer__informations h3 {
    font-size: 13px;
    margin-bottom: 7px;
  }
}

.photographer__description .photographer__informations ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photographer__description .photographer__informations ul li {
  font-size: 18px;
  list-style-type: none;
  color: #901c1c;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding: 2px 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

@media (max-width: 960px) {
  .photographer__description .photographer__informations ul li {
    font-size: 13px;
  }
}

.photographer__description button {
  height: 69px;
  min-width: 170px;
  margin-left: 30px;
  border-radius: 5px;
  background: #901c1c;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  cursor: pointer;
}

@media (max-width: 1038px) {
  .photographer__description button {
    margin-left: 0;
    width: 170px;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    position: fixed;
    top: 91%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.photographer__description button .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.photographer__description .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px;
}

@media (max-width: 960px) {
  .photographer__description .photo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
}

@media (max-width: 440px) {
  .photographer__description .photo {
    min-width: 100px;
    height: 100px;
    margin-top: 10px;
  }
}

.photographer__description .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tri {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  margin-left: 97px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.tri img {
  position: absolute;
  z-index: 12;
  right: 10px;
  top: 26px;
  width: 16px;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
}

.tri .rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (max-width: 960px) {
  .tri {
    display: none;
  }
}

.tri p {
  font-size: 18px;
  margin-right: 25px;
  margin-top: 25px;
}

.tri .dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 170px;
  height: auto;
  border-radius: 5px;
  z-index: 10;
}

.tri .bloc__top {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #901c1c;
  width: 170px;
  height: 69px;
  border: none;
  font-size: 18px;
  color: white;
  padding-left: 20px;
}

.tri .bloc__down {
  display: none;
}

.tri .bloc__down span {
  position: relative;
  width: 150px;
  height: 64px;
  line-height: 64px;
  color: white;
  font-size: 16px;
  padding-left: 20px;
  background-color: #901c1c;
  cursor: pointer;
}

.tri .bloc__down span::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  content: '';
  width: 80%;
  height: 1px;
  color: white;
  border-bottom: 1px solid white;
}

.tri .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 68px;
  border-top: 1px solid white;
}

.container__thumbnail {
  width: 100%;
  max-width: 1440px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 100px;
}

@media (max-width: 920px) {
  .container__thumbnail {
    padding: 0;
    margin-top: 52px;
  }
}

.container__thumbnail .thumbnail {
  width: 350px;
  height: 351px;
}

@media (max-width: 920px) {
  .container__thumbnail .thumbnail {
    width: 90%;
    height: auto;
    margin: 0px auto 10px;
  }
}

.container__thumbnail .thumbnail .img__thumbnail {
  width: 350px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 920px) {
  .container__thumbnail .thumbnail .img__thumbnail {
    width: 100%;
    height: 190px;
  }
}

.container__thumbnail .thumbnail .img__thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

@media (max-width: 920px) {
  .container__thumbnail .thumbnail .img__thumbnail img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

.container__thumbnail .thumbnail .img__thumbnail video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container__thumbnail .thumbnail__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  color: #901c1c;
  font-size: 18px;
  font-weight: 400;
}

.container__thumbnail .thumbnail__description .like__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container__thumbnail .thumbnail__description .like__count img {
  width: 17.5px;
  height: 17.5px;
  margin-left: 7px;
  cursor: pointer;
}

.likeCountResume {
  width: 376px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 2.5%;
  background-color: #d3573c;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
}

@media (max-width: 1040px) {
  .likeCountResume {
    display: none;
  }
}

.likeCountResume > p {
  margin-right: 34px;
}

.likeCountResume .total__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 31px;
  margin-right: 0;
}

.likeCountResume .total__likes img {
  width: 18px;
  height: 18px;
  margin-left: 7px;
}

/************************************************ lightbox ***********************************/
.lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 100;
  overflow: hidden;
}

.lightbox button {
  background-color: transparent;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
  border: none;
}

.lightbox__prev {
  width: 50px;
}

.lightbox__prev img {
  width: 100%;
  border: none;
}

@media (max-width: 900px) {
  .lightbox__prev img {
    width: 50%;
  }
}

.right {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 630px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  position: relative;
}

@media (max-width: 900px) {
  .right {
    height: 280px;
  }
}

.right img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 100%;
}

@media (max-width: 900px) {
  .right img {
    width: 50%;
  }
}

.lightbox__close {
  position: absolute;
  width: 80%;
  top: 0;
}

.lightbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0px;
  width: 1050px;
  height: 900px;
  overflow: hidden;
}

.lightbox__container img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

.lightbox__container video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.lightbox__container p {
  color: #901c1c;
  font-size: 26px;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .lightbox__container p {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .lightbox__container {
    max-width: 290px;
    height: auto;
    max-height: 248px;
  }
}

.formulaire {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 669px;
  height: 100vh;
  max-height: 900px;
  background-color: #db8876;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
}

.formulaire h1 {
  font-size: 64px;
  font-family: 'DM sans';
  font-weight: 400;
  margin-top: 4%;
  margin-left: 5.5%;
  margin-bottom: 19px;
}

@media (max-width: 900px) {
  .formulaire h1 {
    font-size: 36px;
    margin-bottom: 26px;
    margin-top: 20px;
    margin-left: 17px;
    line-height: 46px;
  }
}

.formulaire img {
  position: absolute;
  width: 38px;
  right: 6%;
  top: 4%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .formulaire img {
    width: 18px;
    top: 3%;
  }
}

.formulaire label {
  font-size: 36px;
  font-family: 'DM sans';
  font-weight: 400;
  margin-left: 35px;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .formulaire label {
    font-size: 24px;
    margin-left: 17px;
  }
}

.formulaire input {
  width: 88%;
  height: 7%;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: none;
}

@media (max-width: 900px) {
  .formulaire input {
    width: 338px;
    height: 52px;
    margin-bottom: 14px;
    font-size: 18px;
  }
}

.formulaire textarea {
  width: 88%;
  height: 170px;
  margin: 0 auto;
  font-size: 26px;
}

.formulaire #submit,
.formulaire #close__msg {
  cursor: pointer;
  color: white;
  background-color: #901c1c;
  width: 170px;
  height: 69px;
  margin-left: 35px;
  margin-top: 26px;
}

@media (max-width: 900px) {
  .formulaire #submit,
  .formulaire #close__msg {
    margin: 26px auto;
    width: 170px;
    height: 35px;
  }
}

.formulaire p {
  color: white;
  font-size: 34px;
  margin: auto;
  text-align: center;
  line-height: 104px;
}

.formulaire #description {
  display: none;
}

.formulaire #close__msg {
  margin: auto;
  margin-bottom: 25px;
}

.formulaire span {
  color: red;
  margin-left: 35px;
}

@media (max-width: 900px) {
  .formulaire span {
    margin-left: 16px;
    margin-right: 46px;
    width: 90%;
  }
}
/*# sourceMappingURL=photographers.css.map */