$color-primary  : #901c1c;
$color-primary-light : #d3573c;
$color-secondary :#525252;
$color-secondary-light : #fafafa ;
$color-mainRedirecttion : #DB8876;
$color-border : #c4c4c4;
$color-price : #757575

